body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: #ffffff;
    margin: 0px;
    padding: 0;
    background: linear-gradient(100deg, #6e8efb, #a777e3);
    height: 100vh;
    
    
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;

}

.logo a {
    text-decoration: none;
    color: #ffffff;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}


.logo{
    font-size: 24px;
    font-weight: bold;
    margin-left: 3%;
}
nav ul{
    list-style-type: none;
    display: flex;
    margin-right: 5%;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 150px;  
    padding-top: 30px;  
}

.center h1{
    font-size: 48px;
    margin-bottom: 0px;
    color: #ffffff;
}

.center h2 {
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    max-width: 600px;
    margin: 0 auto;
}
.sponsored-by {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.sponsored-by h2{
    display: flex;
    text-align: center;
    align-items: center;
}
.mailing-list{
    display: flex;
    text-align: center;
    align-items: center;
    margin-right: 10px;
    justify-content: center;
}

.mailing-list form{
    align-content: center;
    padding: 20px;
    position: sticky;
}
.container input{
    padding: 5px;
    border: none;
    border-radius: 8px;
}
.container button{
    padding: 5px;
    padding-right: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .main-content {
        padding: 20px;
        margin: 100px; 
    }
    .swiper-slide img {
        max-height: 80px; 
    }
}

.footer-area {
    text-align: center;
    padding: 20px;
    margin-top: 40px; 
    width: 100%;
}
.sponsor-container {
    text-align: center;
    margin-bottom: 20px;
}
.sponsored-by {
    font-size: 24px; 
    color: #ffffff; 
}
.swiper-container {
    width: 100%;
    text-align: center;
}